[submodule "ZPI-AMS-service"]
	path = ZPI-AMS-service
	url = https://github.com/Maciag312/ZPI-AMS-service.git
	branch = master
[submodule "ZPI-authorize-service"]
	path = ZPI-authorize-service
	url = https://github.com/bachm44/ZPI-authorize-service.git
	branch = main
[submodule "ZPI-demo-UI"]
	path = ZPI-demo-UI
	url = https://github.com/bachm44/ZPI-demo-UI.git
	branch = main
[submodule "ZPI-analysis-service"]
	path = ZPI-analysis-service
	url = https://github.com/bachm44/ZPI-analysis-service.git
